# Azure AI Search Configuration
SEARCH_SERVICE_ENDPOINT=https://YOUR-SEARCH-RESOURCE.search.windows.net
SEARCH_API_VERSION=2025-11-01-preview
SEARCH_USE_AAD=true
SEARCH_KNOWLEDGESOURCE_NAME=knowledgesource
# Delimiter to separate product ID parts in filenames (e.g., delimiter "__" for "product01__12345.pdf" -> product ID "product01")
SEARCH_PRODUCT_ID_DELIMITER=__

#AI Foundry Configuration
AI_SERVICE_ENDPOINT=https://YOUR-FOUNDRY-RESOURCE.openai.azure.com
AI_MODEL_DEPLOYMENT=text-embedding-3-small
AI_MODEL_NAME=text-embedding-3-small

# Azure Storage Configuration
STORAGE_CONNECTION_STRING=ResourceId={YOUR_STORAGE_RESOURCE_ID};
STORAGE_CONTAINER_NAME=rag-data